<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
    		<div class="blurb">
        		<h1>Just some random stuff</h1>
				<p>Not much to see here. I'll use this page to post random things I make</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="">email</a></li>
			</ul>
		</footer>
	</body>
</html>

